### BLUETOOTH
type vendor_public_bluetooth_prop, property_type;

### CAMERA
type vendor_public_camera_prop, property_type;

### CSC
type vendor_public_csc_prop, property_type;

### MDC
type vendor_public_config_prop, property_type;

### RADIO
type vendor_public_radio_prop, property_type;

### RFKILL
type rfkilldisabled_prop, property_type;
