### BLUETOOTH
type vendor_public_bluetooth_prop, property_type;

### BUILD
type vendor_public_build_prop, property_type;

### CAMERA
type vendor_public_camera_prop, property_type;

### CSC
type vendor_public_csc_prop, property_type;

### MDC
type vendor_public_config_prop, property_type;

### OMC
type vendor_public_omc_prop, property_type;

### RADIO
type vendor_public_radio_prop, property_type;

### RFKILL
type rfkilldisabled_prop, property_type;
